<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Care Center</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<style>
    .accordion-button:not(.collapsed) {
        background-color: #62cfe7 !important;
        /* Change this to your desired color */
        color: white !important;
        /* Adjust text color for better visibility */
    }


    .accordion-button:focus,
    button:focus,
    input:focus {
        box-shadow: none !important;
        outline: none !important;
    }

    .logo {
        width: 50px;
        height: 50px;
        color: black;
        margin-top: 0;
        margin-left: 2px;
    }

    .myimg {
        width: 50px;
        height: 50px;
        border: 2px solid black;
        border-radius: 25px;
    }
</style>
</head>

<body style="background-color: aliceblue;">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg" style="background-color: #62cfe7;">
        <div class="container-fluid">
            <!-- Logo at the top-left corner -->
            <div class="logo" style="margin: 0px 10px;">
                <img class="myimg" src="{{ url_for('static', filename='img.png') }}" alt="">
            </div>

            <a class="navbar-brand" href="#">
                <h4>HealthCenter</h4>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/developer">Developer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    <!-- main form of page -->
    <h1 class="mt-4 my-4 text-center text-green">Health Care Center</h1>
    <div class="container my-4 mt-4 text-center"
        style="background-color: #62cfe7; color: white; border-radius: 15px; padding: 40px; width:65%;">
        <form action="/predict" method="post">
            <div class="form-group">
                <label for="symptoms" style="margin-bottom: 5px;"><h5>Select Symptoms:</h5></label>
                <input type="text" class="form-control" , id="symptoms" name="symptoms"
                    placeholder="Type systems such as itching, sleeping, aching etc">

            </div>
            <br>
            <button type="submit" class="btn btn-light btn-lg"
                style="width: 10%; padding: 5px; background-color: aliceblue;">Predict</button>
        </form>
    </div>

    <!-- Results -->
    {% if predicted_disease %}
    <h2 class="text-center my-4 " style="margin-top: 10px;">Predicted Results</h2>
    <div class="container d-flex justify-content-center">
        <div class="accordion" id="resultsAccordion" style="width: 60%;">
            <!-- Disease -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#diseaseCollapse" aria-expanded="true">
                        <h6>Predicted Disease</h6>
                    </button>
                </h2>
                <div id="diseaseCollapse" class="accordion-collapse collapse show" data-bs-parent="#resultsAccordion">
                    <div class="accordion-body">
                        <p>{{ predicted_disease }}</p>
                    </div>
                </div>
            </div>

            <!-- Description -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#descriptionCollapse">
                        <h6>Description</h6>
                    </button>
                </h2>
                <div id="descriptionCollapse" class="accordion-collapse collapse" data-bs-parent="#resultsAccordion">
                    <div class="accordion-body">
                        <p>{{ dis_des }}</p>
                    </div>
                </div>
            </div>

            <!-- Precaution -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#precautionCollapse">
                        <h6>Precautions</h6>
                    </button>
                </h2>
                <div id="precautionCollapse" class="accordion-collapse collapse" data-bs-parent="#resultsAccordion">
                    <div class="accordion-body">
                        <ul>
                            {% for i in my_precautions %}
                            <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Medications -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#medicationsCollapse">
                        <h6>Medications</h6>
                    </button>
                </h2>
                <div id="medicationsCollapse" class="accordion-collapse collapse" data-bs-parent="#resultsAccordion">
                    <div class="accordion-body">
                        <ul>
                            {% for i in medications%}
                            <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Workouts -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#workoutsCollapse">
                        <h6>Workouts</h6>
                    </button>
                </h2>
                <div id="workoutsCollapse" class="accordion-collapse collapse" data-bs-parent="#resultsAccordion">
                    <div class="accordion-body">
                        <ul>
                            {% for i in workout %}
                            <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Diets -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#dietsCollapse">
                        <h6>Diets</h6>
                    </button>
                </h2>
                <div id="dietsCollapse" class="accordion-collapse collapse" data-bs-parent="#resultsAccordion">
                    <div class="accordion-body">
                        <ul>
                            {% for i in my_diet %}
                            <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Doctor Recommendation -->
            <div>
                {{doc}}
            </div>
        </div>
    </div>
    {% endif %}


    <script>
        const startSpeechRecognitionButton = document.getElementById('startSpeechRecognition');
        const transcriptionDiv = document.getElementById('transcription');

        startSpeechRecognitionButton.addEventListener('click', startSpeechRecognition);

        function startSpeechRecognition() {
            const recognition = new webkitSpeechRecognition(); // Use webkitSpeechRecognition for compatibility

            recognition.lang = 'en-US'; // Set the language for recognition

            recognition.onresult = function (event) {
                const result = event.results[0][0].transcript;
                transcriptionDiv.textContent = result;
            };

            recognition.onend = function () {
                console.log('Speech recognition ended.');
            };

            recognition.start();
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>